/* Common Style Sheet for complete website */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;    
    height: 100%;  
}
input{
    font-size: large;
    margin: 10px;
    padding: 5px;
}
header{
    text-align: center;
    color: rgb(235 167 135);
    display: flex;
    align-items: center;
}
header > div {
    justify-content: end;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    cursor: pointer;
}
.bg-brown{
    background-color: brown;
    width: 100%;
    display: flex;
    justify-content: center;
}
.bg-light-brown{
    background-color: rgb(216, 111, 25);
    width: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    margin-top: 5%;
    width: 50%;
    text-align: center;
    color: rgb(235 167 135);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.curved-button{
    font-weight: bold;
    border-radius: 22px;    
    padding: 15px 32px;
    margin: 15px;
    cursor: pointer;
    font-size: 16px;
}
.home-buttons{
    border-radius: 20px;
    width: 100px;
}
.post-button{
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: orangered;
    color: white;
    border: none;
    font-weight: bold;
}
.bg-light-blue{
    background-color:rgb(43, 192, 192);
    color: white;
    border: none;
}
.bg-gray-blue{
    background-color:rgb(1 135 135);
    color: white;
    border: none;
}
.bg-blue{
    background-color:rgb(55 94 159);
    color: white;
    border: none;
}
.bg-bright-blue{
    background-color:rgb(4 226 232);
    color: white;
    border: none;
}
.bg-royal-blue{
    background-color:rgb(17 18 216);
    color: white;
    border: none;
}
.flex-space{
    display: flex;
    justify-content: space-around;
    width: 85%;
}
.full-container{
    height: max-content;
}
.search-container{
    background-color: rgb(103 213 213);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.search-container button{
    border: none;
    border-radius: 15px;
    color: white;
    background-color: rgb(23, 37, 161);
    padding: 10px 25px;
}
.search-container input{
    border-radius: 15px;
    border: none;
    padding: 10px;
}
.box{
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    height: 200px;
    width: 230px;
    border-radius: 25px;
    cursor: pointer;
}
.box img{
    max-height: 310px;
}
.centered {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0%;
    margin: 0%;
}
.middled {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0%;
    margin: 0%;
}
.subject{
    border-radius: 35px;
}
.background-fill{
    background-color:brown;
    width: 250px;
    padding: 15px 0px;
}
.books-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.books-container > *{
    height: auto;
    width: 20%;
    border: 2px solid;
    margin: 30px;
}
.images-sequence{
    display: flex;    
    max-width: 100vw;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.images-sequence::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.images-sequence > div{
    margin: 0px 12%;        
}
.strip-heading{
    width: 98%;
    background-color: orangered;
    padding: 10px 0% 10px 2%;
    color: white;
}
.shadow{
    background-color: rgba(165, 42, 42, 0.479);
    width: 100%;
    height: 100%;
}
.full-width{
    width: 95%;
    padding: 20px 30px;
}
.achievements-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.align-left{
    text-align: left;
}
